    
<form name="projectForm" id="formajt" ng-show="ajout">
  <md-toolbar>
      <div class="md-toolbar-tools" layout-wrap  layout-align="center">
      
        <span flex="50"> <h1 >{{form.title}}</h1></span>
       <!-- <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="images/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>-->
      </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content" >
      <span flex="50"></span>

      <md-input-container class="md-block" flex-gt-sm>
        <label>nom Lieu</label>
        <input ng-model="client.cl_name"  required name="lieu">
        <div ng-messages="projectForm.lieu.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <span flex="50"></span>
      <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input ng-model="client.email"  required name="email"  type="email">
          <div ng-messages="projectForm.email.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </md-input-container>
      <span flex="50"></span>

      <md-input-container class="md-block" flex-gt-sm>
        <label> description</label>
        <input ng-model="client.description"  required name="desc" >
        <div ng-messages="projectForm.desc.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
        <span flex="50"></span>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Categorie</label>
          <md-select ng-model="type" required name="type">
            <md-option ng-repeat="type in types" ng-value="type">
              {{type.type_name}}
             
            </md-option>
          </md-select>
             

          <div ng-messages="projectForm.type.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
    </div>
  </md-dialog-content>

  <span flex="50"></span>

  <md-dialog-actions layout="row">
    <md-button class="md-raised md-primary md-hue-1" ng-click="AjoutClient(client,map,aa,type)">
      <md-icon md-svg-src="images/icons/ic_account_box_w.svg"></md-icon>
      {{form.valider}}  
    </md-button>
    <md-button class="md-raised md-warn" ng-click="Suppress($event,client,marker)">          
      <md-icon md-svg-src="images/icons/ic_close_white_24px.svg"></md-icon>
      {{form.annuler}}  
    </md-button>
  </md-dialog-actions>  
</form>